

/* === Extra XX Large Screen  === */
@media only screen and (min-width:1500px){
    .container{
        max-width: 1440px;
    }
}
/* === Extra Large Screen  === */
@media only screen and (max-width:1400px){
    .container{
        max-width: 1320px;
    }
}
@media only screen and (max-width:1300px){
    .container{
        max-width: 1140px;
    }
}
/* === X Large Screen  === */
@media only screen and (max-width:1150px){
    .container{
        max-width: 1080px;
    }
    h4 {
        font-size: 4.5rem;
        line-height: 5rem;
    }
    .experience-area .exp-right-img img {
        width: 100%;
        height: 90%;
        margin-bottom: 3rem;
    }
    .experience-area .exp-right-img .exp-years h4 span {
        font-size: 2rem;
        font-weight: 500;
        line-height: 4rem;
    }
    .experience-area .exp-right-img .exp-years {
        padding: 3rem 3.5rem;
        bottom: 3rem;
        left: -4rem;
    }
    .experience-area {
        gap: 6rem;
    }
    .title-section p br{
        display: none;
    }
    section.facts-section {
        padding: 6rem 0;
    }
    .facts-ar .title-section{
        text-align: center;
    }
    .facts-area {
        padding: 5rem 2rem 0 2rem;
        justify-content: center;
        gap: 2.5rem;
        flex-wrap: wrap;
    }
    .facts-area .single-facts {
        flex-grow: 1;
    }
    /* header */
}
/* === Large Screen  === */
@media only screen and (max-width:1090px){
    .container{
        max-width: 985px;
    }
    /* header */
}
/* === Medium Screen  === */
@media only screen and (max-width:992px){
    .container{
        width: 100%;
        max-width: 960px;
        padding: 0 1rem;
    }
    .banner-area p br{
        display: none;
    }
    h2 {
        font-size: 3.5rem;
    }
    .title-section p {
        margin-top: 1.5rem;
        font-size: 1.4rem;
    }
    .title-section .btn {
        margin-top: 1.8rem;
        font-size: 1.6rem;
    }
    .feature-section {
        padding: 5rem 0;
    }
}
/* === SmallScreen  === */
@media only screen and (max-width:768px){
    .container{
        max-width: 720px;
    }
    /* Header Section */
    nav.menu-area {
        flex-direction: column;
    }
    .feature-area {
        flex-direction: column;
    }
    .feature-right-text {
        text-align: center;
    }
    .feature-left-img-area {
        order: 1;
    }
    .experience-area {
        flex-direction: column;
        gap: 2rem;
    }
    .experience-area .exp-right-img .exp-years {
        padding: 2rem 2.5rem;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
/* === X Small Screen  === */
@media only screen and (max-width:576px){
    .container{
        max-width: 100%;
        padding: 0 15px;
    }
    /* header section */
    nav.menu-area {
        flex-direction: column;
        gap: 2rem;
    }
    .banner-area h1 {
        font-size: 4rem;
    }
    .menu-area ul {
        display: flex;
        gap: 2.8rem;
    }
    .menu-area ul li a {
        font-size: 1.4rem;
    }
    .banner-area p {
        font-size: 1.4rem;
        margin: 2.5rem;
    }
    .banner-area {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
}

