/* === Global Css Area Start === */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Work Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #131313;
}
h1{
    font-size: 6.4rem;
}
h2{
    font-size: 4.5rem;
}
h3{
    font-size: 2rem;
    font-weight: 600;
}
h4{
    color: #FFF;
    text-align: center;
    font-size: 6.5rem;
    line-height: 7rem;
}
h5{
    color: #424242;
    font-size: 4.5rem;
    font-weight: 600;
}
h6{
    color:#727272;
    font-size: 20px;
    font-weight: 600;
}
p{
    color: #727272;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px; 
}
a{
    display: inline-block;
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.btn{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.title-section{
    width: 100%;
}
.title-section p{
    margin-top: 2.5rem;
}
.title-section .btn{
    margin-top: 3rem;
}
.title-section h2 span:first-child{
    color: #727272;
    font-weight: 500;
}
.title-section h2 span:last-child{
    color: #FF900E;
}
/* === Global Css Area End === */
/* === Header Section Css Area Start === */
.header-section {
    width: 100%;
    padding: 4.5rem 0 3rem;
    background: rgba(255, 144, 14, 0.10);
}
.header-area {
    width: 100%;
}
.menu-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-area a.logo {
    color: #131313;
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
}
.menu-area ul {
    display: flex;
    gap: 6rem;
}
.menu-area ul li a {
    color: #424242;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;
    text-transform: capitalize;
}
.banner-area {
    width: 100%;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.banner-area p {
    margin: 4rem 0;
}

/* === Header Section Css Area End === */

/* === Header Section Css Area Start === */
.feature-section {
    width: 100%;
    padding: 8rem 0;
}
.feature-area {
    width: 100%;
    display: flex;
    gap: 75px;
    justify-content: space-between;
    align-items: center;
}
.feature-area .feature-left-img-area,
.feature-area .feature-right-text{
    flex-basis: 50%;
}
.feature-left-img-area {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.4rem;
}
/* === Header Section Css Area End === */

/* === Experience Section Css Area Start === */
section.experience-section {
    width: 100%;
    background: #fff;
}
.experience-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 14.5rem;
}
.experience-area .title-area h2 {
    width: 100%;
    padding-left: 2.5rem;
    border-left: .5rem solid #FF900E;
    margin-bottom: 2.5rem;
}
.experience-area .title-area p{
    margin-bottom: 3rem;
}
.experience-area .exp-info {
    padding: 3rem;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 2rem;
}
.experience-area .exp-info p{
    margin-top: 1rem;
}
.exp-right-img,
.exp-left-text {
    flex-basis: 50%;
}
.exp-left-text {
    padding-top: 3.5rem;
}
.experience-area .exp-right-img{
    position: relative;
}
.experience-area .exp-right-img img{
    width: 708px;
    height: 982px;
    object-fit: cover;
    border-radius: .8rem;
    margin-bottom: 7rem;
}
.experience-area .exp-right-img .exp-years {
    border-radius: 8px;
    background: #FF900E;
    padding: 4rem 4.5rem;
    position: absolute;
    bottom: -2rem;
    left: -8rem;
}
.experience-area .exp-right-img .exp-years h4 span{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 4rem;
}
/* === Experience Section Css Area End === */

/* === Facts Section Css Area Start === */
section.facts-section {
    width: 100%;
    padding: 14rem 0;
}
.facts-area {
    padding: 8rem 0 0 4rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
    text-align: center;
    flex-wrap: wrap;
}
.single-facts {
    flex-basis: 24.2rem;
    min-height: 24.1831rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
}
.single-facts img{
    width: 4.5221rem;
    height: 4.5221rem;

}
/* === Facts Section Css Area End === */

/* === Sponsor Section Css Area Start === */
section.sponsor-section {
    width: 100%;
}
section.sponsor-section .title-section{
    text-align: center;
}
.sponsor-area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-top: 5rem;
}
.sponsor-area .single-sponsor {
    flex-basis: 153.333px;
    height: 5rem;
}
.sponsor-area img {
    width: 100%;
    object-fit: contain;
    filter: grayscale(1);
}
.sponsor-area img {
    object-fit: contain;
}
/* === Sponsor Section Css Area End === */

/* === Footer Section Css Area Start === */
.footer-section {
    width: 100%;
    text-align: center;
    padding: 13rem 0;
}
.footer-area {
    width: 100%;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 3rem;
}
/* === Footer Section Css Area End === */